{% load cms_tags staticfiles sekizai_tags menu_tags %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Pferdefreunde Kobersdorf - Willkommen{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% comment %} <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ewert|Ultra|Frijole|Rye">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/business-casual.css' %}"> {% endcomment %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                  </ul>
                </div>
              </nav>
     
            {% comment %} <div class="brand">Pferdefreunde Kobersdorf</div>
            <div class="address-bar">Reit- und Fahrverein</div>
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Pferdefreunde Kobersdorf</a>
                </div>
                <div class="navbar-collapse collapse"> 
                   <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div> {% endcomment %}
            <div class="container">
                {% block content %}{% endblock content %}

            </div>
            


        
        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Impressum und Offenlegung</h4>
      </div>
      <div class="modal-body">
        <h1>Impressum</h1>
          Angaben gem&auml;&szlig; &sect; 24 Mediengesetz<br/><br/>RFV Pferdefreunde Kobersdorf<br/>Waldgasse 34<br/>A-7332 Kobersdorf<br/>
          <h2>Vertreten durch</h2>Obmann Gerhard Leopold<br/>
          <h2>Kontakt</h2>E-Mail: <a href="mailto:info@pferdefreunde-kobersdorf.at">info@pferdefreunde-kobersdorf.at</a><br/>Internetadresse: <a href="http://www.pferdefreunde-kobersdorf.at" target="_blank">http://www.pferdefreunde-kobersdorf.at</a><h2>Vereinsregister</h2>ZVR Zahl: 501732413<br/>BH Oberpullendorf<br/><h2>Verantwortlich f&uuml;r den Inhalt</h2>Obmann Gerhard Leopold

          <h2>Haftungsausschluss</h2>
<h3>Haftung für Inhalte</h3>
Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Wir sind jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

<h3>Haftung für Links</h3>
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

<h3>Urheberrecht</h3>
Die durch die Seitenbetreiber erstellten bzw. verwendeten Inhalte und Werke auf diesen Seiten unterliegen dem österreichischem Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
    </div>
  </div>
</div>

        <!-- ################################ -->

	<!-- Modal NyFind ################################ -->
	<div class="modal fade bs-example-modal-lg" id="myFind" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
			      <div class="modal-content">
				      <h2>Pferdefreunde Kobersdorf</h2>
				      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=47.595302%2C16.400018&key=AIzaSyDeUCMpfQM2fe1eVxmIu85t-uGaKzrQPZs" allowfullscreen></iframe>
		        </div>
	  </div>
	</div>

	<!-- End modal Find ########################### -->


<footer>
    <div class="navbar navbar-fixed-bottom" role="navigation" align="center">

        <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  Impressum und Offenlegung
</button>

<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myFind">
  So findet ihr uns
</button>

    </div>
</footer>



<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZt4pVwOIhMOMeRUA5KyYh5ToOJJQ2gMM" type="text/javascript"></script>
-->
{% comment %}         <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
        {% render_block "js" %}
    </body>
</html>